{% extends 'base.html' %} {% block content %} {{ super() }} {% for cat, msg in
get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method="post" class="form-contact">
  <p>
    <label>Email: </label> <input type="text" name="email" value="" requied />
  </p>
  <p>
    <label>Password: </label>
    <input type="password" name="psw" value="" requied />
  </p>
  <p>
    <label>Password again: </label>
    <input type="password" name="psw2" value="" requied />
  </p>
  <p><input type="submit" value="Register" /></p>
</form>



{% endblock %}
