{% extends 'base.html' %}

{% block content %}
{{super( )}}

<div class="rules_text">
<p></p>
<p></p>
  
</p>1. Press <button class="btn btn-outline-dark" id="refresh_example" type="button">Get new Quote</button> to get a new quote.<p>

</p>2. Move the <button  class="field_example">word block </button> with your mouse.<p>
  
<p> 3. Try to make the proper quote.</p>

<p> 4. If your quote is ready - press <button type="button" class="btn btn-outline-success" id="check_example">Check answer</button> button.</p>

<p>  ---------------------------------------------------</p>
<p>  Good Luck!</p>


</div>

{% endblock %}